@import "variables";


.header {
  background: $main-background-color;
}

.wrapper {
  height: 128px;
}

.navigation {
  a {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0;
    color: #FFFFFF;

  }
}

.language {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.check-mark {
  .dropdown-toggle::after {
    content: none;
  }
}



.button-dashboard {
  background: linear-gradient(324.25deg, rgba(83, 95, 230, 0.84) 30.14%, rgba(32, 193, 207, 0.57) 89.37%);
  border-radius: 30px 16px 16px 16px;
}

.options {
  background: $secondary-background-color;
  height: 120px;

  .deposit {
    width: 183px;
    height: 52px;
    color: #535FE6;
    background-color: #FFFFFF;
    border-radius: 20px;

  }

  button {
    outline: none;
    border: 0;
    background: transparent;
    width: 131px;
    height: 52px;
    justify-content: center;
  }


}