* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  background: #1D1E22;
}

.wrapper {
  height: 128px;
}

.navigation a {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.language {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.check-mark .dropdown-toggle::after {
  content: none;
}

.button-dashboard {
  background: linear-gradient(324.25deg, rgba(83, 95, 230, 0.84) 30.14%, rgba(32, 193, 207, 0.57) 89.37%);
  border-radius: 30px 16px 16px 16px;
}

.options {
  background: linear-gradient(324.25deg, rgba(83, 95, 230, 0.84) 30.14%, rgba(32, 193, 207, 0.57) 89.37%);
  height: 120px;
}
.options .deposit {
  width: 183px;
  height: 52px;
  color: #535FE6;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.options button {
  outline: none;
  border: 0;
  background: transparent;
  width: 131px;
  height: 52px;
  justify-content: center;
}

.main-background {
  background: #1D1E22;
}

.filter button {
  outline: none;
  border: 0;
  background: transparent;
}
.filter span {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  color: #5E647A;
}

.info {
  background: #23252F;
  height: 64px;
  border-radius: 20px;
  min-width: 768px;
}
.info p {
  color: #5E647A;
  margin: 0;
}

.main-tittle {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.main-content {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  color: #5E647A;
}

.assets {
  border-color: #535FE6;
  border-width: 1px;
  border-style: solid;
  min-width: 768px;
  height: 119px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3% 0;
}
.assets p {
  margin: 0;
}
.assets .percent {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(83, 95, 230, 0.8392156863);
}
.assets .colorize-value {
  color: rgba(83, 95, 230, 0.8392156863);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}
.assets .progress {
  color: rgba(83, 95, 230, 0.8392156863);
  background-color: #23252F;
  height: 8px;
}
.assets__content {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  color: #5E647A;
}
.assets__content span {
  color: #FFFFFF;
}
.assets__daily {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  white-space: nowrap;
}
.assets__profit {
  color: #20C1CF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}
.assets__total-profit {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

.assets-completed {
  background: #23252F;
  min-width: 768px;
  height: 119px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3% 0;
}
.assets-completed p {
  margin: 0;
}
.assets-completed .percent {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(83, 95, 230, 0.8392156863);
}
.assets-completed .colorize-value {
  color: rgba(83, 95, 230, 0.8392156863);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}
.assets-completed .progress {
  color: rgba(83, 95, 230, 0.8392156863);
  background-color: #23252F;
  height: 8px;
}
.assets-completed__content {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  color: #5E647A;
}
.assets-completed__content span {
  color: #FFFFFF;
}
.assets-completed__daily {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  white-space: nowrap;
}
.assets-completed__profit {
  color: #20C1CF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}
.assets-completed__total-profit {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

.info-deposits {
  background: url("../img/main/bg-brand.png") no-repeat;
  min-width: 425px;
  min-height: 714px;
}
.info-deposits__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 20% 0 14%;
}
.info-deposits__wrapper h2 {
  font-family: Roboto, sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 86px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.info-deposits__wrapper p {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}
.info-deposits__wrapper span {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.button-size {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #23252F;
}
.footer-logo {
  display: flex;
  overflow: hidden;
  gap: 40px;
}
.footer a {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  color: #5E647A;
}
.footer__company {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  color: #535FE6;
}
.footer__address {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  color: #5E647A;
}
.footer__year {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.footer__privacy {
  color: #FFF;
}

/*# sourceMappingURL=styles.css.map */
